html {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-color: #0d232d;
}

body {
    margin: 0;
}

h5 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
}

.App__header {
    background-color: #424242;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
    margin-bottom: 16px;
}

.App__container {
    padding: 16px;
}