@import 'src/styles/_variables';

.App {
    &__player {
        display: inline-block;
        width: 70%;
        padding: 0 16px;
    }
    &__videos {
        padding: 0 16px;
        display: inline-block;
        width: 26%;
        vertical-align: top;
    }
}