@import 'src/styles/_global';
@import 'src/styles/_variables';

.App {
    &__header {
        background-color: $primary-color;
        color: white;
        font-size: 24px;
        font-weight: bold;
        padding: 16px;
        margin-bottom: 16px;
    }
    &__player {
        display: inline-block;
        width: 70%;
        padding: 0 16px;
    }
    &__videos {
        padding: 0 16px;
        display: inline-block;
        width: 26%;
        vertical-align: top;
    }
}