@import 'src/styles/_variables';

.video {
    &__overlay {
        display: none;
        background-size: 50px 50px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &.active,
    &:hover {
        .video__overlay {
            display: block;
        }
    }
}