@import 'src/styles/_variables';

.footer {
    background-color: $primary-color;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px;
    text-align: center;
}